/*
Primary Color #008B8B
*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

 /*  ---------------- Utlity Classes -----------------  */
 .container{
  width:80vw;
  max-width:960px;
  margin: 40px auto;
 }


/*  ---------------- Responsive Images -----------------  */
img{
  max-width: 100%;
}


  /*  --------------- Global Styles -----------------  */
body{
    background-color: #008B8B;
    font-family: 'Golos Text', sans-serif;
    margin:0;
}

header.primary{
    background-color: #8abad6;
    text-align:center;
    color:#ffffff;
    padding:40px;
    /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;
  text-shadow:1px 1px #000000;
}

header.primary h1{
  font-size: 2.4rem;
  margin:20px 0 10px;
}

header.primary h1 a{
  color:#ffffff;
  text-decoration:none;
}

header.primary h2{
  font-size:1.4rem;
}

header.primary nav{
  max-width:960px;
  margin:20px auto;
}

header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

header.primary nav ul li{
  list-style-type:none;
  margin:10px;
}

header.primary nav ul li a{
  color:#fff;
  text-decoration:none;
  background-color:#000000;
  background-color:rgba(0,0,0,.5);
  padding:8px 16px;
  border-radius:4px;
  border: 2px rgba(0,0,0,.5);
  transition: 0.5s;
}

header.primary nav ul li a:hover
header.primary nav ul li a:active{
background: rgba(0, 0, 0, .8);
}

#intro {
  border-bottom:1px dotted #000000;
  padding-bottom:15px;
}

#intro h2{
  color: #400000;
  border-bottom:1px dotted #000000;
}

#content{
 display:flex;
 justify-content: space-between;
 flex-direction: row;
 gap: 20px;
}

#content article.post{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
padding: 10px;
border-radius: 4px;
font-size: 0.8rem;
transition: 0.5s;
}

#content article.post:hover{
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

article.post figure{
  margin: 0;
}

time.post-date,
figcaption,
.post-meta
{
  text-transform:uppercase;
  color: #400000;
}

.post figure img{
  border:3px solid #c0c0c0;
  padding:2px;
  border-radius:5px;
}

article.post a{
  color:#800000;
}

article.post a:hover{
text-decoration:none;
}

aside[role="complementary"]{
  background-color:#004040;
  color:#8abad6;
  padding:1.9rem;
}

aside .container{
  display:flex;
  gap:35px;
  flex-direction:row;
}

aside .widget a{
  display:block;
  text-align:right;
  padding-top:15px;
  color:#c0c0c0;
}

aside .widget footer{
  display:none;
}

#colophon{
  background-color:#8abad6;
}

#colophon h6{
  padding:20px;
  margin:0;
  text-align:center;
  color: #400000;
  font-size:0.9rem;
}